@model TestExam.ViewModels.SessionViewModel

<div class="container">
    <div class="row">
        <div>
            <h2>@ViewBag.TestName</h2>
        </div>
    </div>
    <br /><br />
    <div class="row">

    </div>
    <div class="row">
        <p>Тест содержит @ViewBag.QuestionCount вопросов</p>
        <p>Для прохождения теста нажмите кнопку Регистрации - все данные, введенные в предыдущей форме, будут сохранены в базе данных</p>
        <p>Отвечая на вопрос, нажмите копку Сохранить и Далее для сохранения ответа в базе данных</p>
        <br />
    </div>
    
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @id = "formRegister" }))
    {
        @Html.HiddenFor(p => Model.TestId)
        @Html.HiddenFor(p => Model.UserName)
        @Html.HiddenFor(p => Model.Email)

        <a href="javascript:void(0);" onclick="getElementById('formRegister').submit();" class="btn btn-primary">Зарегистрироваться и Начать</a>        
    }
</div>

